/* css styles */
.navbar {
  height: 64px;
}

.footer {
   border-top-width: 1px;
   border-top-style: solid;
   border-top-color: #ced4da;
}

/* Fix bug with code line wrapping: https://github.com/quarto-dev/quarto-cli/issues/3442 */
pre.numberSource {
  margin: 0;
}
pre.numberSource code > span {
  left: 0;
}

/* font-weight: bolder; doesn't seem to work with Nunito Sans */
b, strong {
  font-weight: bold;
}

details {
  margin-bottom: 0;
}

#title-block-header {
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #dee2e6;
}

code {
  white-space: pre-wrap;
}